.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: var(--white);
  font-family: var(--ff-poppins);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.nav-container-left, .nav-container-right {
    display: flex;
    align-items: center; 
    gap: 1rem;
}

.navbar-brand {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-brand::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1.3rem;
  width: 0.15rem;
  height: 90%;
  background-color: #3333331A;
  /* opacity: 0.1; */
  /* z-index: -1; */
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 2rem;
  padding: 0.2rem 1rem;
  margin: 0 2rem;
  flex: 1;
  max-width: 300px;
}

.navbar-brand img {
    width: 24rem;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  padding: 0.6rem;
  font-size: 1.4rem;
  width: 100%;
}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links .nav-link {
    color: #333333;
    font-weight: 300;
}

.nav-btns {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: var(--primary-clr);
  border-radius: 2px;
}

.hidden {
  display: none;
}


/* Mobile Styles */
@media (max-width: 768px) {
  .search-bar {
    display: none;
  }

  .nav-links,
  .nav-btns {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .mobile-menu {
  display: none;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: #fff;
  border-top: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
}

.mobile-menu.show {
  display: flex;
}


  .mobile-menu a,
  .mobile-menu button {
    font-size: 1.6rem;
  }
}
