.login-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.login-popup {
  width: 80%;
  max-width: 800px;
  background: #fff;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
}

.popup-left {
  flex: 1;
  border-radius: 1rem;
  overflow: hidden;
}

.popup-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup-right {
  flex: 1;
  padding: 30px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 0rem;
  right: 0;
  font-size: 22px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.tab-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  border-radius: 4rem;
  background-color: #002B5B1A;
  padding: 0.7rem;
}

.tab-btn {
  flex: 1;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 2rem;
}

.tab-btn.active {
  background: #002f6c;
  color: #fff;
}

#loginForm label {
  display: block;
  font-weight: 600;
  margin: 10px 0 5px;
  font-size: 1.5rem;
}

#loginForm input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.otp-container {
  margin-top: 20px;
}

.otp-container small {
    font-size: 1rem;
}

.otp-inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.otp-inputs input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn-login-submit {
  width: 100%;
  padding: 12px;
  background-color: #002f6c;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}

.register-link {
  text-align: center;
  margin-top: 10px;
  font-size: 1rem;
}

.register-link a {
  color: #002f6c;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
    .popup-left {
        display: none;
    }
}
